.center-text{
    text-align: center;
}

.modal-body{
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

.heading_color {
    color: #393BA7;
}

.modal-title{
    margin-right: 2rem;
}

.modal-header1 .btn-secondary {
  background-color: #fff; /* Default background */
  color: gray;
  font-weight: bold;
  border: 1px solid gray; /* Optional: Add border for better visibility */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.modal-header1 .btn-secondary:hover {
  background-color: gray; 
  color: #fff; /* Change text color on hover */
}

  .modal-header1 {
    max-height: 150px; 
    overflow: hidden; 
  }

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/

        /* Scroll to Top Button Style */
        .scroll-to-top {
          position: fixed;
          bottom: 20px;
          right: 20px;
          background-color: #007bff;
          color: white;
          border: none;
          border-radius: 50%;
          padding: 15px;
          font-size: 18px;
          cursor: pointer;
          display: none; /* Hidden by default */
          z-index: 1000; /* Ensure it's always on top */
      }

      .scroll-to-top:hover {
          background-color: #0056b3;
      }

